.review{
    text-align: center;
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transform: translateX(100%);
}
.review img{
    width: 20em;
}
.review h2{
    margin-top: 5em;
}
.review p{
    margin-top: 5em;
}
.body{
    background-color: black;
    color: white;
}
.review i{
    color: orangered;
}
.first-review{
    text-align: center;
}
.first-review img{
    width: 20em;
}
.first-reviewh2{
    margin-top: 5em;
}
.first-review p{
    margin-top: 5em;
}
.first-review i{
    color: orangered;
}
.reviews-container{
    position: relative;
    width: 100%;
   
}
.reviews-slide{
   position: relative;
   overflow: hidden;
}

.arrow {
    position: absolute;
    transform: translate(-50%, -50%);
    border: none;
    color: red;
    cursor: pointer;
    z-index: 1;
    font-size: 2em;
    background-color: transparent;
}
.previous {
    left: 1%;
    top: 67%;
}
.next {
   top: 65%;
    right: 0%;
}
