

/* .slideshow-images{
    position: relative;

} */
 .body{

    margin: 0;
 }
.image:nth-child(1){
    background-image: url('images/view.jpg');
    animation-delay: 0s;
    background-size: cover;
}
.image:nth-child(2){
    background-image: url('/images/discover.jpg');
    animation-delay: 5s;
}
.image:nth-child(3){
    background-image: url("images/taste.jpg");
    animation-delay: 10s;
}
.image:nth-child(4){
    background-image: url("images/experience2.jpg");
    animation-delay: 15s;
}
.image:nth-child(5){
    background-image: url("images/savour.jpg");
    animation-delay: 20s;
}
.image{
    height: 98vh; width: 100%;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    animation: slideshow 25s infinite ease-in;
    opacity: 0;
    margin: 0;
}
@keyframes slideshow{
    0%{opacity: 0;}
    2%{opacity: 1;}
    18%{opacity: 1;}
    20%{opacity: 0;}
    100%{opacity: 0;}

}
.image img{
    position: absolute;
    max-width: 20em; max-height: 20em;
    left: 40%; top: 17%;
}
.image h1{
    font-size: 10em;
    color: grey;
    margin-top: 20%;
    
}
.navigation-bar ul{
    display: flex;
    gap: 3em;
    list-style-type: none;
    border: solid 2px grey; 
    width: 20cm; 
    height: 1.5cm;
    border-radius: 3em;
    background-color: rgb(10, 9, 9);
    padding-top: 1em;
   
}
.navigation-bar a{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
}

.navigation-bar{
     border-radius: 2em;
    position: absolute;
    /* z-index: 1; */
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* object-fit: contain; */
    opacity: 1.0;
    /* max-width: 20%; max-height: 20%; */
}
#whatsapp-icon i{
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    padding: 2em;
    color: white;
    font-size: 4em;
}
#fb-ig-icons{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    padding: 2em;
    color: white;
    font-size: 1.5em;
}
@media screen and (max-width: 500px){
    .body{
        overflow: hidden;
    }
    .image img{
        position: absolute;
        max-width: 10em; max-height: 10em;
        left: 40%; top: 17%;
    }
    .image h1{
        font-size: 5em;
        color: grey;
        margin-top: 70%;
        
    }
    .navigation-bar ul{
        display: flex;
        gap: 1em;
        list-style-type: none;
        border: solid 2px grey; 
        width: 3cm; 
        height: 1.5em;
        border-radius: 3em;
        background-color: rgb(10, 9, 9);
        padding-top: 1em;
       
    }
    .navigation-bar a{
        text-decoration: none;
        font-size: .9em;
        color: white;
    }
    
    .navigation-bar{
         border-radius: 2em;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* object-fit: contain; */
        opacity: 1.0;
        /* max-width: 20%; max-height: 20%; */
    }
    #whatsapp-icon i{
        position: absolute;
        z-index: 1;
        top: 90%;
        left: 95%;
        transform: translate(-50%, -50%);
        object-fit: contain;
        padding: 2em;
        color: white;
        font-size: 1.5em;
    }
    #fb-ig-icons{
        position: absolute;
        z-index: 1;
        top: 10%;
        left: 90%;
        transform: translate(-50%, -50%);
        object-fit: contain;
        padding: 2em;
        color: white;
        font-size: 1em;
        display: flex;
    }
    .image:nth-child(1){
        background-image: url('images/view.jpg');
        animation-delay: 0s;
        background-position: center;
        background-size: cover;
        width: 100%;
    }
    .image:nth-child(2){
        background-image: url('/images/discover.jpg');
        animation-delay: 5s;
        background-position: center;
    }
    .image:nth-child(3){
        background-image: url("images/taste.jpg");
        animation-delay: 10s;
        background-position: center;
    }
    .image:nth-child(4){
        background-image: url("images/experience2.jpg");
        animation-delay: 15s;
        background-position: center;
    }
    .image:nth-child(5){
        background-image: url("images/savour.jpg");
        animation-delay: 20s;
        background-position: center;
    }
    .image{
        height: 100vh; width: 100%;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        animation: slideshow 25s infinite ease-in;
        opacity: 0;
    }
    @keyframes slideshow{
        0%{opacity: 0;}
        2%{opacity: 1;}
        18%{opacity: 1;}
        20%{opacity: 0;}
        100%{opacity: 0;}
    
    }
   #hidden{
    display: none;
   }

}

